.navbar {
  background-color: white;
  position: fixed;
  top: -10%;
  width: 100%;
  transition: 0.5s ease-out;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding-right: 30px;
}

// Class names for showing and hiding the navbar

.navbar--visible {
  top: 0;
  visibility: visible;
}

.navbar--hidden {
  visibility: hidden;
}
