* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-button {
  position: absolute;
  top: 100px;
  left: 930px;
}

.navbar {
  background-color: grey;
  position: fixed;
  top: -10%;
  width: 100%;
  height: 40px;
  transition: 0.5s ease-out;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding-top: 10px;
  padding-right: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

// Class names for showing and hiding the navbar

.navbar--visible {
  top: 0;
  visibility: visible;
}

.navbar--hidden {
  visibility: hidden;
}

// Class name for adding a transparent black background to the site while opening navbar

.background--fade {
  background: rgba(0, 0, 0, 0.24);
}
